<form #createForm="ngForm">
  <div mat-dialog-title *ngIf="data.from === 'CREATE_BOARD'">Create Board</div>
  <div mat-dialog-title *ngIf="data.from === 'CREATE_TASK'">Create List</div>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput name="taskTitel" autocomplete="off" placeholder="Title" [(ngModel)]="data.title" cdkFocusInitial="true">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <div fxFlex></div>
      <div fxLayoutAlign="end end">
          <button mat-button [disabled]="!data.title || (data.title && data.title.trim() === '')" [mat-dialog-close]="data" cdkFocusInitial>Create</button>
      </div>
  </div>
</form>