<!-- Routing And Header container-->
<div>
    <!-- Header-->
    <div>
        <div fxLayout="row" class="p10 navBar">
            <div fxFlex fxLayoutAlign="start center">
                <button mat-button (click)="gotoHome('dashBoard')">
                        <mat-icon>home</mat-icon>
                </button>
            </div>
            <div fxFlex fxLayoutAlign="center center" class="bold caps">Trello</div>
            <div fxFlex fxLayoutAlign="end center">
                <div>
                    <img src="../assets/profile.jpg" alt="profile" class="profile">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End-->

    <!-- Routing Section Start-->
    <div>
        <router-outlet></router-outlet>
    </div>
    <!-- Routing Section End-->
</div>
<!-- Routing and header container end-->