 .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .drag-box:last-child {
    border: none;
  }
  
  .drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .bg-grey{
      background: #ebecf0;
  }

  .bg-plus{
    background: rgba(0,0,0,0.8);
  }

  .hoverIcon{
    width: 14px;
    height: 14px;
  }