<!-- dash Board Container Start-->
<div fxLayout.lt-md="column" fxLayout="row wrap" fxLayoutAlign="start start"
fxLayoutAlign.lt-md="start center"
fxLayoutGap="10px" fxLayoutGap.lt-md="30px" class="dashBoardLayout">
    
    <div *ngFor="let board of createdList" class="createbn radius10 m20">
        <button mat-flat-button class="p0 radius10 bold tc--white" (click)="openBoard('taskBoard', board)">
            <img src="../../assets/savedCard.jpg" alt="" class="createbn radius10 blur">
            <div fxFlex fxLayout class="absolute t0 l10">
                <div fxFlex>{{board.boardName}}</div>
            </div>
        </button>
    </div>

    <div>
        <button mat-flat-button class="p0 createbn radius10 bold m20" (click)="openCreateDialog()">
           <mat-icon class="f28">add</mat-icon>
        </button>
    </div>

</div>
<!-- dash Board Container End-->
