<!-- Welcome Dashboard Start-->
<div>
    <!-- Tool bar Row Start-->
    <div fxLayout="row" class="p15">
        <!-- Title-->
         <div fxFlex class="tc--white bold f18">
            {{boardDetails.boardName}}
        </div>
        <!-- Title End-->
    </div>
    <!-- Tool bar Row End-->

    <!-- Drag and Drop Row Start -->
    <div fxLayout="row" class="listConter">
        <div class="p20 relative" *ngFor="let board of boardDetails.boardList">
            <app-do-tolist [(items)]="board" (modelChange)="triggerSave($event)" [connected]="connectedTo"></app-do-tolist>
        </div>
    </div>
    <!-- Drag and Drop Row Start -->
    
    <div class="absolute b20 r30 zIndex">
        <button mat-fab color="primary" (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<!-- Welcome Dashboard Start End-->

