<!-- Welcome Dashboard Start-->
<div>
    <!-- Tool bar Row Start-->
    <div fxLayout="row" class="tc--white caps p15">
        <!-- Title-->
         <div fxFlex class="bold">
            <button mat-button class="caps f18">{{boardDetails.boardName}}</button>
        </div>

        <div fxLayoutAlign="end center">
            <button *ngIf="checkCompletedbtn()" mat-button class="caps" (click)="openConfirmation('COMPLETED')">Clear Completed Tasks</button>
        </div>
        <!-- Title End-->
    </div>
    <!-- Tool bar Row End-->

    <!-- Drag and Drop Row Start -->
    <div fxLayout="row" class="listConter">
        <div class="p18 relative" *ngFor="let board of boardDetails.boardList">
            <app-do-tolist [(items)]="board" (modelChange)="triggerSave($event)" [connected]="connectedTo" #appDotoList></app-do-tolist>
        </div>
    </div>
    <!-- Drag and Drop Row Start -->
    
    <div class="absolute b20 r30 zIndex">
        <button mat-fab color="primary" (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<!-- Welcome Dashboard Start End-->

